@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

body {
  margin: 0;
  padding-left: 10px;
  background-color: #282a36;
  color: #fff;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.terminal {
  /* border: 1px solid #fff; */
  padding: 10px;
  /* width: 100%; */
  height: 100vh;
}


form {
  margin-top: 10px;
  display: inline-block;
}

input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'M PLUS 2', sans-serif;
  font-size: 14px;
  /* width: 100%; */
  display: inline-block;
}

.spacing{
height: 10px;
}

.user,a {
  color: #5dfa93;
  margin-right: 12px;
}

.symbols{
  color: white;
}

.ascii-art {
  font-size: 14px;
  /* height: 100px; */
}

.commands{
  color: #f15955;
}

.about p{
  margin: 5px;
}

.help{
  color: #cfd4e1c7;
  margin: 3px 0px 0px 15px ;
}

.input-text-custom {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
}
